google_search_results==2.4.2
numpy==2.2.2
openai==1.63.0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pyarrow==19.0.0
pydantic==2.8.2
pydantic_core==2.20.1
pytest==8.3.4
python-dateutil==2.9.0.post0
pytrends==4.9.2
serpapi==0.1.5
streamlit==1.42.0
